.sidebar {
  /* background-color: #000; */
  /* width: 50px; */
}

.navText {
  display: none;
}

@media (min-width: 1024px) {
  /* .sidebar {
    width: unset;
  } */

  .navText {
    display: block;
  }
}
